body {
  /*  height: 190vh;*/
  overflow-x: hidden;
}

main {
  width: 100%;
  margin: 0 auto;
  background-color: rgb(240, 240, 240);
}

@media only screen and (max-width: 799px) {
  /* mobile */
  #cover {
    min-height: 75vh;
  }
  #lessons ul li {
    padding: 8px;
  }
  #lessons ul li .info {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  #lessons img {
    max-width: 100%;
    max-height: 60vh;
    margin: 0 auto;
  }
  #lessons ul li .description {
    padding: 8px 6px;
    font-weight: lighter;
  }
  #lessons button.register {
    display: block;
    margin: 0 auto;
    margin-top: 1em;
  }
}

@media only screen and (min-width: 800px) {
  /* desktop */
  #cover {
    min-height: 75vh;
  }
  #lessons ul {
    margin: 0 auto;
  }
  #lessons ul li {
    padding: 32px;
  }
  #lessons ul li .info {
    flex-direction: row;
    height: auto;
  }
  #lessons ul li .description {
    padding: 8px 32px;
  }
  .img-container, .title_price {
    margin-right: 2em
  }
  #lessons ul li .img-container img {
    min-height: 25vh;
    max-width: 100%;
  }
}

#cover {
  width: 100%;
  margin: 0 auto;
  background-size: cover;
  background-position: center 20%;
  background-repeat: no-repeat;
}

#lessons {
  width: 90%;
  margin: 0 auto;
  margin-top: 4em;
}

p.dow {
  display: none !important;
}

h1 {
  color: white;
  line-height: 1em;
  font-family: "Josefin Sans", Times;
  font-size: 10vh;
  text-align: center;
  font-weight: lighter;
  text-transform: uppercase;
  color: black;
  /*background-color: rgba(19, 19, 32, .9);*/
  color: rgba(19, 19, 32, 1);
  padding: .25em 0;
  padding-top: .5em;
}

video {
  min-width: 100%;
  height: 60%;
  display: none;
  float: right;
}

.spacer {
  height: 10vh
}

#lessons ul {
  display: inline-block;
  vertical-align: top;
  width: 95%;
  margin: 0 auto;
}

#lessons ul li {
  list-style-type: none;
  border: 1px solid black;
  border-left: none;
  border-right: none;
  background-color: none;
  color: black;
  margin-bottom: 5em;
  font-family: Verdana
}

#lessons ul li .info {
  font-family: 'Montserrat', Arial, sans-serif;
  font-weight: lighter;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: top
}

#lessons ul li .info * {}

#lessons ul li:hover {
  background-color: rgba(225, 222, 237, .45);
}

#lessons .title_price {
  flex-grow: 2;
}

#lessons .title_price * {
  display: block;
  /*margin-bottom: 1em*/
}

.title_price h4 {
  font-weight: lighter !important;
}

.mini-info {
  margin-top: 1em;
}

.mini-info p {
  margin-bottom: .5em;
  font-size: 90%;
}

#lessons ul li .expand {
  text-align: center;
  display: block;
  padding-top: 1em;
  text-transform: uppercase;
  font-family: 'M PLUS 1p', Verdana;
  font-weight: lighter;
}

#lessons ul li .expand span {
  background-color: rgba(250, 250, 250, .4);
  padding: .25em .75em;
}

.expand, .expand:visited {
  color: black;
  text-decoration: none
}

.expand:hover {
  text-decoration: underline
}

#lessons ul li .img-container {
  /*  max-width: 20%;*/
  flex-basis: 20%;
  height: 100%;
}

#lessons ul li .info h3 {
  /*  font-weight: lighter !important;*/
}

#lessons button.register {
  background-color: rgba(0, 0, 0, .8);
  font-family: inherit;
  color: white;
  font-size: 120%;
  padding: 12px 8px;
  width: 100%%;
  font-family: 'Montserrat', Arial, sans-serif;
}

#lessons a.register {
  text-decoration: none;
}

#lessons button.register:hover {
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

#lessons ul li .description {
  display: none;
}

#lessons ul li .description p {
  margin-top: 1em;
  line-height: 1.5em;
}

#lessons ul li:hover {
  background-color: rgbs(0, 0, 0, .4)
}