body {
  background-color: rgb(240, 240, 240);
  height: 100vh;
}

input {
  padding: 8px;
  display: block;
  border: none;
  border-bottom: 1px solid #ccc;
}

form.jotform-form {
  display: none
}

main {
  width: 80%;
  margin: 0 auto;
  margin-top: 16px;
  height: 100%;
}

h1, h2 {
  color: black;
  font-family: "Raleway";
  text-align: center;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 36px;
  margin-bottom: 1em;
}

h3 {
  font-family: "M PLUS 1p";
  font-size: 28px;
}

.img-container {
  height: 100%;
  margin: 0 auto;
  width: auto;
  opacity: .3;
  overflow: hidden;
  text-align: center;
}

.form-container {
  width: 60%;
  padding: 32px;
  background-color: rgba(250, 250, 250, .9);
  margin: 0 auto;
  position: relative;
  top: -80%;
}

.userform {}

.userform select {
  width: 100%;
  font-family: 'M PLUS 1p';
}