body {
  background-color: rgb(240, 240, 240);
  /*height: 100vh;*/
}

.jotform-form {
  display: none !important
}

main {
  width: 80%;
  margin: 0 auto;
  margin-top: 16px;
  position: relative;
}

h1, h2 {
  color: black;
  font-family: "Raleway";
  text-align: center;
}

h1 {
  font-size: 40px;
  margin-bottom: .25em
}

h2 {
  font-size: 36px;
  margin-bottom: 1em;
}

h3 {
  font-family: "M PLUS 1p";
  font-size: 28px;
  margin-bottom: .5em;
}

.img-container {
  height: 100%;
  margin: 0 auto;
  width: auto;
  opacity: .5;
  overflow: hidden;
  text-align: center;
}

/*
.img-container img {
  min-width: 100%;
}*/

.form-container {
  width: 40%;
  min-height: calc(60% - 15%);
  padding: 48px 42px;
  padding-left: 30px;
  background-color: rgba(250, 250, 250, .95);
  margin: 0 auto;
  position: absolute;
  top: 25%;
  left: 25%;
  border: 1px darkgray solid
}

.userform input {
  width: 85%
}

.userform select {
  font-family: 'M PLUS 1p';
}

.userform label {
  display: block;
  font-family: "Raleway";
  margin-bottom: .5em;
}

.userform input, .userform select {
  margin-bottom: 2.5em;
}

.classinfo {
  font-family: "M PLUS 1p";
  background-color: rgba(225, 222, 237, .45);
  margin-bottom: 1em;
  padding: 8px;
}

input[type="submit"] {
  font-size: 120%;
  background-color: rgba(64, 120, 165, .8);
  padding: 12px 8px;
  font-family: "Raleway";
  color: white;
  margin-top: 1em;
}

.form-container .userform {
  display: block;
}

.form-container .payment .user-confirm {
  display: none;
}

.form-container .payment form {
  display: none;
}