<!DOCTYPE html>
<html>

  <head>
    <title>Ardiente | Classes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="http://ardientedance.com.s3-website-us-east-1.amazonaws.com/img/favicon.gif">
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/classes.js"></script>

    <link rel="stylesheet" href="/fonts/montserrat_200.css">
    <link rel="stylesheet" href="/fonts/m_plus_1_300.css">
    <link rel="stylesheet" href="/fonts/raleway_200.css">
    <link rel="stylesheet" href="/fonts/alegreya_sans_sc.css">
    <link rel="stylesheet" href="/fonts/josefin_200.css">

    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="css/classes/main.css">

    <script type="text/javascript">
      $(document).ready(function() {
        console.log('DOM loaded');
        var classes = getClassInfo();
        for (let classId in classes) {
          let classInfo = classes[classId];
          $('#lessons ul').append(
            `<li>
              <article class="info">
                <div class="img-container">
                  <img src="/img/${classInfo.img}" alt="Mambo Thursdays class">
                </div>

                <div class="title_price">
                  <h3>${classInfo.full_name}</h3>


                </div>
                <a class="desktop" href="/register.html?class=${classId}"><button class="register" name="button">Register Here</button></a>

              </article>
              <a href="" class="expand"><span>Class Description</span></a>
              <article class="description">

              ${classInfo.description}
              <div class="mini-info">
                <p class="when">When: ${classInfo.when}</p>
                <p>Price: ${classInfo.price}</p>
                <p class="location_name">Where: ${classInfo.location_name} </p>
                <p class="location_address"><a href="${classInfo.location_google_maps}" target="_blank">
                 ${classInfo.location_address}</a></p>
              </div>
              <p class="viewflyer">View flyer in a separate window:
               <a href="/img/${classInfo.img}" target="_blank">${classInfo.full_name}</a></p>
                </article>

              <a class="mobile register" href="/register.html?class=${classId}"><button class="register" name="button">Register Here</button></a>

            </li>`
          )
        };
        $('a.expand').on('click', function(e) {
          e.preventDefault();
          $desc = $(this).siblings('.description');
          if ($desc.css('display') == "none") {
            $desc.slideDown();
            $(this).children('span').text('Hide Description');
          } else {
            $desc.slideUp();
            $(this).children('span').text('Class Description');
          }

          return false;
        })

      })
    </script>
  </head>

  <body>
    <header class="purple-black">
      <nav>
        <a href="/">Home</a> |
        <a href="/events.html">Events</a> |
        <a href="/classes.html">Classes</a>
      </nav>
    </header>

    <main>

      <section id="title">
        <h1>Learn with Us!</h1>
      </section>

      <section class="" id="cover" style="background-image: url('img/classes-capital-workshop.jpg');">

        <!--<div class="screen">
          <h2>Learn with us!!</h2>
        </div>-->
        <!--<img src="img/classes-capital-workshop.jpg" alt="">-->
      </section>

      <section id="lessons">
        <ul>


        </ul>

      </section>
    </main>


    <footer class="purple-black">
      <h4>Contact</h4>
      <ul>
        <li><a href="mailto:ardientedc@gmail.com" target="_blank">ardientedc@gmail.com</a></li>
        <li>
          <a class="desktop" href="http://facebook.com/ardientedc/" target="_blank"> <img src="/img/facebook-icon.png" alt="Facebook"> </a>
          <a class="mobile" href="http://m.facebook.com/ardientedc/" target="_blank"> <img src="/img/facebook-icon.png" alt="Facebook"> </a>
          <a href="http://instagram.com/ardiente.dc/" target="_blank"> <img src="/img/instagram-icon.png" alt="Instagram"> </a>

        </li>
      </ul>
    </footer>
  </body>

</html>