<!DOCTYPE html>
<html>

  <head>
    <title>Ardiente | Classes</title>
    <% include partials/head %>


      <link rel="stylesheet" href="css/classes/main.css">

      <script type="text/javascript">
        $(document).ready(function() {
          console.log('DOM loaded');


          $('a.expand').on('click', function(e) {
            e.preventDefault();
            $desc = $(this).siblings('.description');
            if ($desc.css('display') == "none") {
              $desc.slideDown();
              $(this).children('span').text('Hide Description');
            } else {
              $desc.slideUp();
              $(this).children('span').text('Class Description');
            }

            return false;
          })

        })
      </script>
  </head>

  <body>
    <header>
      <% include partials/header %>
    </header>

    <main>

      <section id="title">
        <h1>Learn with Us!</h1>
      </section>

      <section class="" id="cover" style="background-image: url('img/classes-capital-workshop.jpg');">
        <!-- -->
        <!--<div class="screen">
          <h2>Learn with us!!</h2>
        </div>-->
        <!--<img src="img/classes-capital-workshop.jpg" alt="">-->
      </section>


      <section id="lessons">
        <ul>
          <li>
            <article class="info">
              <!-- TODO: this div sizing is trash -->
              <div class="img-container">
                <img src="img/classes/mambo-thursdays.jpg" alt="Mambo Thursdays class">
              </div>

              <div class="title_price">
                <h3>Mambo on2 Thursday Workshop Series</h3>
                <h4>Price: $12</h4>
              </div>

              <a href="/class/mambo-thursdays"><button class="register" name="button">Register Here</button></a>
              <!-- TODO: add price/ loop over schedulejson -->

            </article>
            <a href="" class="expand"><span>Class Description</span></a>
            <article class="description">
              <p>Catch us at “The Dancing Club” every Thursday from 8-9pm teaching Mambo/ChaCha/Fusion and much more! Classes will vary so make sure you follow us to stay updated. Instructor David Cuevas will be teaching "Mambo On2" so make sure to come
                groove with us.
              </p>
              <p>We will cover: Basic Fundamentals, Footwork, Timing, Styling, Lead & Follow technique, Spins, and much more! This is an open level class so everyone is welcomed!</p>
            </article>
          </li>


        </ul>

      </section>
    </main>


    <footer>
      <h4>Contact</h4>
      <ul>
        <li><a href="mailto:ardientedc@gmail.com" target="_blank">ardientedc@gmail.com</a></li>
        <li>
          <a href="http://facebook.com/ardientedc/" target="_blank"> <img src="/img/facebook-icon.png" alt="Facebook"> </a>
          <a href="http://instagram.com/ardiente.dc/" target="_blank"> <img src="/img/instagram-icon.png" alt="Instagram"> </a>

        </li>
      </ul>
    </footer>
  </body>

</html>