<!DOCTYPE html>
<html>

  <head>
    <title>Ardiente | Events</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="icon" type="image/png" href="http://ardientedance.com.s3-website-us-east-1.amazonaws.com/img/favicon.gif">

    <link rel="stylesheet" href="/fonts/alegreya_sans_sc.css">
    <link rel="stylesheet" href="/fonts/montserrat_200.css">
    <link rel="stylesheet" href="/fonts/m_plus_1_300.css">
    <link rel="stylesheet" href="/fonts/raleway_200.css">


    <script src="/js/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="css/events/main.css">

    <script type="text/javascript">
      $(document).ready(function() {
        $('.form-container form').append(`<input type="hidden" name="item_name" value="Ardiente Social with Irôko}">`);
        $('.form-container form').append(`<input type="hidden" name="return" value="http://ardientedc.com.s3-website-us-east-1.amazonaws.com/events.html">`);

        $('a.buy').on('click', function(e) {
          e.preventDefault();
          if ($('.buttons').css('display') == 'none') {
            $('.buttons').slideDown();
          } else {
            $('.buttons').slideUp();
          }

          return false;
        })
      })
    </script>
  </head>

  <body class="purple-black">
    <header class="purple-black">
      <nav>
        <a href="/">Home</a> |
        <a href="/events.html">Events</a> |
        <a href="/classes.html">Classes</a>
      </nav>
    </header>
    <section id="overlay" class="background-img" style="background-image: url('img/logo-overlay-black.gif');opacity: 1">
      <!--class="background-img" -->
    </section>

    <main>
      <section id="events">
        <h1>Upcoming Events</h1>

        <article class="event">
          <h4 class="date">Friday, September 14, 2018</h4>
          <h3>Ardiente Dance Company Pres. Ernesto & Denisse - <span class="uppercase">IR&Ocirc;KO</span> from NYC!</h3>
          <div class="event-contents">

            <div class="panel event-pic">
              <img src="img/iroko-event-alternate.jpg" alt="Ardiente welcomes Iroko Sept 14!">


            </div>
            <div class="panel event-info">

              <div class="text-box">
                <h5>Description</h5>
                <p>
                  That's right! <a href="https://www.facebook.com/ardientedc/" target="_blank">Ardiente Dance Company</a> is proud to announce that we'll be having <a href="https://www.facebook.com/ErnestoandDenisse/" target="_blank">Ernesto Bulnes and Denisse Cambria</a>                  as well as their newly formed team <span class="uppercase accent">Ir&Ocirc;ko</span> teaching, performing and social dancing Friday, September 14th!</p>

                <p>Don't miss out on witnessing this bad ass, FRESH team based out of the salsa mecca, NEW YORK CITY! The team is comprised of SEASONED PERFORMERS, STRONG COMPETITORS, HIGH-CLASS INSTRUCTORS, THE WORKS! Make sure to get your tickets ASAP!
                  <span class="bold">This event is gonna be fire!</span></p>

                <p>
                  <span class="bold">Friday, September 14, 2018</span>, join Ardiente Dance Company for a night of dance with a wonderful <span class="accent">workshop and performance</span> by Ernesto & Denisse's amazing team, <span class="uppercase">IR&Ocirc;KO</span>!
                  <span class="accent">DJ RENZO</span> will be on the 1's and 2's all night long playing the jams.
                </p>

                <p><span class="bold">Workshop:</span> 9-10pm
                  <br>
                  <span class="bold">Social</span>: 10pm
                  <br>
                  <span class="bold">Performances:</span> 11:30pm
                </p>

              </div>

            </div>

          </div>
          <div class="spacer">

          </div>
          <a href="#" class="buy purple-black-text"><h4>Get your pass</h4>

          </a>
          <div class="buttons">
            <!--<p class="close">
              <a href="#">&#10005;</a></p>-->

            <div class="form-container">
              <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_xclick">
                <input type="hidden" name="business" value="ardientedc@gmail.com">
                <input type="hidden" name="lc" value="US">
                <input type="hidden" name="item_name" value="Ardiente Social with Iroko">
                <input type="hidden" name="item_number" value="e914">
                <input type="hidden" name="button_subtype" value="services">
                <input type="hidden" name="no_note" value="0">
                <input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHostedGuest">
                <table>
                  <tr>
                    <td><input type="hidden" name="on0" value="Pass Type">Pass Type</td>
                  </tr>
                  <tr>
                    <td><select name="os0">
                  	   <option value="Workshop & Social">Workshop & Social $22.00 USD</option>
                  	    <option value="Social Only">Social Only $18.00 USD</option>
                    </select> </td>
                  </tr>
                </table>
                <input type="hidden" name="currency_code" value="USD">
                <input type="hidden" name="option_select0" value="Workshop & Social">
                <input type="hidden" name="option_amount0" value="22.00">
                <input type="hidden" name="option_select1" value="Social Only">
                <input type="hidden" name="option_amount1" value="18.00">
                <input type="hidden" name="option_index" value="0">
                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
              </form>

            </div>


            <div class="facebook">
              <p>
                <a class="desktop" href="https://www.facebook.com/events/456828728120264/" target="_blank">
                  <img src="img/facebook-icon.png" alt="RSVP on Facebook" width=30px>
                  <p>RSVP on Facebook!</p>
                </a>
                <a class="mobile" href="https://m.facebook.com/events/456828728120264/" target="_blank">
                  <img src="img/facebook-icon.png" alt="RSVP on Facebook" width=30px>
                  <p>RSVP on Facebook!</p>
                </a>
              </p>
            </div>

            <div class="map">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3104.438809069035!2d-77.22508778468183!3d38.913946753573576!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89b64cb1bafc9bf3%3A0x6f9512b38889748b!2sTysons+Ballroom+%26+Dancesport+Center!5e0!3m2!1sen!2sus!4v1535217954488"
                width="90%" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
          </div>

        </article>

      </section>


      <!--  <section>
        <h1>Past Events</h1>

      </section> -->
    </main>


    <footer class="purple-black">
      <h4>Contact</h4>
      <ul>
        <li><a href="mailto:ardientedc@gmail.com" target="_blank">ardientedc@gmail.com</a></li>
        <li>
          <a class="desktop" href="http://facebook.com/ardientedc/" target="_blank"> <img src="/img/facebook-icon.png" alt="Facebook"> </a>
          <a class="mobile" href="http://m.facebook.com/ardientedc/" target="_blank"> <img src="/img/facebook-icon.png" alt="Facebook"> </a>
          <a href="http://instagram.com/ardiente.dc/" target="_blank"> <img src="/img/instagram-icon.png" alt="Instagram"> </a>

        </li>
      </ul>
    </footer>
  </body>

</html>