<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/classes/main.css">

    <head>
      <meta charset="utf-8">
      <title>Class Registration Form</title>
      <link rel="stylesheet" href="css/global.css">
      <link rel="icon" type="image/png" href="img/favicon.gif">
      <link href="https://fonts.googleapis.com/css?family=Lora|Dancing+Script|M+PLUS+1p|Alegreya+Sans+SC|Raleway|Montserrat:200|M+PLUS+1p:100|Lateef" rel="stylesheet">

      <script src="js/jquery-3.3.1.min.js"></script>


      <script type="text/javascript">
        $(document).ready(function() {})
      </script>
    </head>

    <body>
      <form class="jotform-form" action="https://submit.jotform.us/submit/82316779852166/" method="post" name="form_82316779852166" id="82316779852166" accept-charset="utf-8">
        <input type="hidden" name="formID" value="82316779852166" />
        <div class="form-all">
          <ul class="form-section page-section">
            <li id="cid_1" class="form-input-wide" data-type="control_head">
              <div class="form-header-group ">
                <div class="header-text httal htvam">
                  <h2 id="header_1" class="form-header" data-component="header">
                  Class Signup
                </h2>
                </div>
              </div>
            </li>
            <li class="form-line" data-type="control_textbox" id="id_8">
              <label class="form-label form-label-top form-label-auto" id="label_8" for="input_8"> Name </label>
              <div id="cid_8" class="form-input-wide">
                <input type="text" id="input_8" name="q8_typeA" data-type="input-textbox" class="form-textbox" size="20" value="" data-component="textbox" />
              </div>
            </li>
            <li class="form-line" data-type="control_textbox" id="id_9">
              <label class="form-label form-label-top form-label-auto" id="label_9" for="input_9"> Quantity </label>
              <div id="cid_9" class="form-input-wide">
                <input type="text" id="input_9" name="q9_typeA9" data-type="input-textbox" class="form-textbox" size="20" value="" data-component="textbox" />
              </div>
            </li>
            <li class="form-line" data-type="control_textbox" id="id_11">
              <label class="form-label form-label-top form-label-auto" id="label_11" for="input_11"> Date </label>
              <div id="cid_11" class="form-input-wide">
                <input type="text" id="input_11" name="q11_date" data-type="input-textbox" class="form-textbox" size="20" value="" data-component="textbox" />
              </div>
            </li>
            <li class="form-line" data-type="control_textbox" id="id_12">
              <label class="form-label form-label-top form-label-auto" id="label_12" for="input_12"> Time </label>
              <div id="cid_12" class="form-input-wide">
                <input type="text" id="input_12" name="q12_time" data-type="input-textbox" class="form-textbox" size="20" value="" data-component="textbox" />
              </div>
            </li>
            <li class="form-line" data-type="control_textbox" id="id_10">
              <label class="form-label form-label-top form-label-auto" id="label_10" for="input_10"> Email </label>
              <div id="cid_10" class="form-input-wide">
                <input type="text" id="input_10" name="q10_typeA10" data-type="input-textbox" class="form-textbox" size="20" value="" data-component="textbox" />
              </div>
            </li>
            <li class="form-line" data-type="control_textbox" id="id_13">
              <label class="form-label form-label-top form-label-auto" id="label_13" for="input_13"> Instructor </label>
              <div id="cid_13" class="form-input-wide">
                <input type="text" id="input_13" name="q13_instructor" data-type="input-textbox" class="form-textbox" size="20" value="" data-component="textbox" />
              </div>
            </li>
            <li class="form-line" data-type="control_textbox" id="id_14">
              <label class="form-label form-label-top form-label-auto" id="label_14" for="input_14"> Location </label>
              <div id="cid_14" class="form-input-wide">
                <input type="text" id="input_14" name="q14_location" data-type="input-textbox" class="form-textbox" size="20" value="" data-component="textbox" />
              </div>
            </li>
            <li class="form-line" data-type="control_textarea" id="id_17">
              <label class="form-label form-label-top form-label-auto" id="label_17" for="input_17"> Address </label>
              <div id="cid_17" class="form-input-wide">
                <textarea id="input_17" class="form-textarea" name="q17_typeA17" cols="40" rows="6" data-component="textarea"></textarea>
              </div>
            </li>
            <li class="form-line" data-type="control_textarea" id="id_18">
              <label class="form-label form-label-top form-label-auto" id="label_18" for="input_18"> Reminders </label>
              <div id="cid_18" class="form-input-wide">
                <textarea id="input_18" class="form-textarea" name="q18_reminders" cols="40" rows="6" data-component="textarea"></textarea>
              </div>
            </li>
            <li class="form-line" data-type="control_button" id="id_2">
              <div id="cid_2" class="form-input-wide">
                <div style="margin-left:156px" class="form-buttons-wrapper">
                  <button id="input_2" type="submit" class="form-submit-button" data-component="button">
                  Submit
                </button>
                </div>
              </div>
            </li>
            <li style="display:none">
              Should be Empty:
              <input type="text" name="website" value="" />
            </li>
          </ul>
        </div>
        <input type="hidden" id="simple_spc" name="simple_spc" value="82316779852166" />

        <div class="formFooter-heightMask">
        </div>
        <div class="formFooter">
          <a href="https://www.jotform.com/?utm_source=formfooter&utm_medium=banner&utm_term=82316779852166&utm_content=jotform_logo&utm_campaign=powered_by_jotform_le" target="_blank" class="formFooter-logoLink"><img class="formFooter-logo" src="https://cdn.jotfor.ms/assets/img/logo/logo-new@1x.png" alt="" style="height: 44px;"></a>
          <div class="formFooter-rightSide">
            <span class="formFooter-text">
            Now create your own JotForm - It's free!
          </span>
            <a class="formFooter-button" href="https://www.jotform.com/?utm_source=formfooter&utm_medium=banner&utm_term=82316779852166&utm_content=jotform_button&utm_campaign=powered_by_jotform_le" target="_blank">Create your own JotForm</a>
          </div>
        </div>
      </form>
    </body>

</html>