* {
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
}

main {
  overflow-x: hidden;
  padding-top: calc(5vh + 24px);
  /* to be under the header*/
}

.background-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 799px) {
  .desktop {
    /* mobile only */
    display: none !important;
  }
  .text .red {
    color: rgb(240, 92, 111) !important;
    font-weight: bold;
  }
}

@media only screen and (min-width: 800px) {
  /* desktop only */
  .mobile {
    display: none !important;
  }
  /* enable parallax effect only on destop */
  .background-img {
    background-attachment: fixed;
  }
  nav a {
    font-weight: lighter;
  }
  .text {
    font-weight: lighter;
  }
  .text .red {
    color: #d2142d;
    font-weight: bold;
  }
}

body {
  overflow-x: hidden;
  background-color: lightgray
}

.purple-black {
  background-color: rgb(18, 16, 27);
}

.purple-black-text {
  color: rgba(21, 19, 32, .8);
}

.red {
  color: #ed3952
}

.dc {
  /*Font for "Dance Company"*/
  font-family: 'Alegreya Sans SC', Verdana
}

header {
  position: fixed;
  top: 0;
  min-height: 5vh;
  padding: 12px;
  text-align: center;
}

header, footer {
  width: 100%;
  z-index: 100;
}

nav {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  color: rgba(0, 0, 0, 0)/* this hides the vertical bars between the buttons */
}

nav a {
  font-family: 'M PLUS 1p', Verdana, sans-serif;
  font-size: 2.5vh;
  height: 4.5vh;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  border-bottom: solid 1px white;
}

nav a:hover {
  color: rgb(230, 230, 230);
  border-bottom: solid 1px #ed3952
}

@media only screen and (max-width: 799px) {
  /* mobile nav */
  nav {
    width: 60%;
  }
}

@media only screen and (min-width: 800px) {
  /* desktop nav */
  nav {
    width: 20%;
  }
}

footer {
  color: rgb(230, 230, 230);
  font-family: 'Alegreya Sans SC', Verdana;
  font-size: 18px;
  padding: 16px;
  padding-left: 32px;
  background-color: rgb(18, 16, 27);
}

footer ul {
  padding-left: 1.5em;
  border-left: 1px solid darkgray;
}

footer ul li {
  list-style-type: none;
  margin-bottom: 0.5em;
}

footer h4 {
  font-size: 24px;
}

footer img {
  width: 20px;
  margin-right: 0.5em;
}

footer a {
  color: inherit;
  text-decoration: none;
}