* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
}

body {
  height: 450vh;
}

/**/

header {
  background-color: black;
  height: 5vh;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 0;
}

/*
main {
  position: relative;
  top: 8vh
}
*/

footer {
  height: 8vh;
  width: 100%;
  position: relative;
  bottom: 0;
  background-color: red
}

#content {
  position: relative;
  background: rgba(250, 250, 250);
  width: 100%;
  top: 0;
  /* keep top at 90 */
  /* make this equal to main height - 90 */
}

#content section {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2%;
}

#content .separator {
  height: 8px;
  background-color: rgb(250, 250, 250);
  padding: 0;
}

.cool-black {
  background-color: #12101b;
  color: white;
}

#about-us {
  height: 90vh;
}

#honors-night {
  height: 70vh;
  color: white;
}

#honors-night article {
  position: relative;
  top: 30%;
}

#honors-night p {
  display: block;
  text-align: center;
  font-family: 'Dancing Script', cursive, Times;
  font-size: 60px;
}

#honors-night p.headline {
  text-transform: uppercase;
  font-size: 80px;
  font-family: 'Lora', sans-serif;
}

#pro-team {
  height: 740px;
}

#pro-team article {
  height: 100%;
  display: inline-block;
  vertical-align: top;
}

#pro-team article.pro-bio {
  width: 35%;
  margin-right: 2%;
}

#pro-team article.slides {
  width: 60%
}

#student-team {
  height: 740px;
}

@media only screen and (max-device-width: 1366px) {
  #video, #video-logo, .separator, #honors-night {
    display: none;
  }
  #content {
    top: 0vh;
  }
}