* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

header {
  background-color: black;
  height: 8vh;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 0;
}

main {
  height: 500vh;
  position: relative;
  top: 8vh
}

#content {
  position: relative;
  background: rgba(250, 250, 250);
  width: 100%;
  top: 90vh;
  /* keep top at 90*/
  height: 410vh;
  /* make this equal to main height - 90 */
}

#content section {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#content .separator {
  height: 32px;
  background-color: rgb(250, 250, 250);
}

.cool-black {
  background-color: #12101b;
  color: white;
}

#about-us {
  height: 700px;
}

#honors-night {
  height: 720px;
}

#pro-team {
  height: 760px;
}

#student-team {
  height: 740px;
}