#content {
  position: relative;
  background: rgba(250, 250, 250);
  width: 100%;
  top: 0;
  /* make this equal to main height - 90 */
}

#content section, .parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2%;
}

#content section p {
  z-index: 2;
}

.separator {
  height: 1vh;
  background-color: rgb(250, 250, 250);
  padding: 0 !important;
}

#about-us {
  padding: 0 !important;
}

#about-us-text {
  padding: 32px;
  margin: 0 auto;
  width: auto;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 50vh
}

#about-us-text h1 {
  font-family: 'Montserrat', Verdana, 'Raleway';
  font-weight: bold;
  /*color: rgb(240, 240, 240);*/
  font-size: 100px;
  width: 40%;
  margin-right: 3%;
}

#about-us-text h1 span {
  background-color: none;
}

#about-us-text h1, #about-us-text article {
  display: inline-block;
  vertical-align: top;
  height: 80vh;
}

#about-us-text article {
  width: 45%;
  padding: 5% 5%
}

#about-us-text-box {
  background-color: rgba(0, 0, 0, .6);
  height: 90%;
  color: white;
  padding: 2em;
  font-family: 'Montserrat', Georgia
}

#about-us-text-box p {
  margin-top: 1em;
  font-size: 135%
}

#about-us .fg {
  margin: 0 auto;
}

#overlay1, #overlay2, #meridian {
  position: relative;
  opacity: .3;
  display: block;
  margin: 0 auto;
}

#honors-night {}

#honors-night article {
  /* container for large text */
  color: white;
  position: relative;
  top: 30%;
}

.cursive {
  font-family: 'Dancing Script', cursive, Times;
}

#honors-night p {
  display: block;
  text-align: center;
  font-size: 60px;
}

#honors-night p.headline {
  text-transform: uppercase;
  font-size: 80px;
  font-family: 'Lora', sans-serif;
}

#pro-team {}

#pro-team article {
  height: 100%;
  display: inline-block;
  vertical-align: top;
}

#pro-team article.pro-bio {
  width: 45%;
  margin-right: 2%;
}

#pro-team article.slides {
  width: 50%
}

#student-team {}