#content section:not(.separator) {
  /*padding: 2%;*/
  padding-top: 0;
  /*height: auto;*/
  /*max-height: 1200px !important;*/
  overflow: hidden;
}

#about-us {
  /*max-height: 1450px !important;*/
}

.separator {
  height: 1vh;
  background-color: rgb(250, 250, 250);
  padding: 0 !important;
}

.background-img {
  width: 100%;
}

#about-us {
  background-position: center 30%;
  padding: 0 !important;
}

#about-us-text {
  z-index: 2;
  position: relative;
}

#about-us-text h1 {
  font-family: 'Raleway', Arial;
  font-weight: bold;
}

#about-us-text-left, #about-us-text-right {
  padding: 2%;
}

#overlay {
  /*height: 150%;*/
  opacity: .4;
  position: absolute;
  z-index: 0;
}

#honors-night {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#about-us-text-box {
  border: 1px solid black;
  text-align: center;
  display: block;
  color: black;
  font-family: 'Montserrat', Arial, sans-serif;
  font-weight: lighter;
  margin: 0 auto;
}

#about-us-text article h2 {
  font-family: "Montserrat", Arial
}

@media only screen and (max-width: 799px) {
  /* mobile */
  #content section:not(.separator) {
    min-height: 90vh;
  }
  #about-us {
    background-size: cover;
  }
  #about-us-text {
    background-color: rgba(225, 222, 237, .55);
  }
  #about-us-text h1 {
    font-size: 20vw;
  }
  #about-us-text article h2 {
    font-size: 8vw;
  }
  #about-us-text-left {
    padding-top: .5em;
    margin-bottom: 4em;
  }
  #about-us-text-right {
    padding-bottom: 4em;
  }
  #about-us-text-box {
    background-color: rgba(239, 239, 245, 0.7);
    padding: 1em .5em;
  }
  #about-us-text-box p {
    margin-top: 1em;
    font-size: 90%;
  }
  #overlay {
    height: 140%;
    top: -20%
  }
  #honors-night {
    padding-top: 2em !important;
    padding-bottom: 2em !important;
  }
  #honors-night p.headline {
    font-size: 8vh;
  }
  #honors-night p {
    font-size: 6vh
  }
  #pro-bio-text-box h1 {
    font-size: 12vw;
    padding-left: .1em;
  }
  #pro-bio-text-box img {
    /* the logo */
    width: 10vw;
    display: block;
    margin: 0 auto;
  }
  #slideshow-container {
    height: 30em;
    position: relative;
  }
  #pro-team .slide {
    width: 100%;
    height: 100%;
    margin: auto;
    position: absolute;
    background-size: 105% auto;
    top: 0;
  }
  #pro-team p {
    padding: .5em;
    font-size: 110%;
  }
  #slideshow-container p {
    background-color: rgba(18, 16, 27, .8);
    color: white;
    z-index: 10;
    line-height: 1.5em;
    position: absolute;
    bottom: 0;
  }
  #student-team h1 {
    font-size: 12vw;
    padding-left: .2em;
    margin: .25em 0
  }
  #student-screen {
    background-color: rgba(57, 53, 77, .7)
  }
  #student-team-bio {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    padding: .5em;
  }
}

@media only screen and (min-width: 800px) {
  /* desktop  */
  #content section:not(.separator), #about-us-text {
    min-height: 90vh;
  }
  #about-us-text {
    background-color: rgba(225, 222, 237, .45);
  }
  #about-us-text article h2 {
    font-size: 34px;
  }
  #about-us-text-left, #about-us-text-right {
    display: inline-block;
    align-items: top;
    height: 100%;
    overflow: hidden;
  }
  #about-us-text-left {
    overflow-x: visible !important;
  }
  #about-us-text h1 {
    font-size: 10vw;
  }
  #about-us-text-left {
    width: 45%;
    padding-top: 30vh;
    height: 100%;
  }
  #about-us-text-right {
    width: 40%;
    float: right;
    padding-top: 50vh;
    margin-right: 2% !important;
  }
  #about-us-text-box {
    background-color: rgba(239, 239, 245, 0.7);
    padding: 2em .5em;
    max-height: 80vh;
    overflow-y: scroll;
  }
  #about-us-text-box p {
    margin-top: 1em;
    font-size: 130%
  }
  #honors-night p.headline {
    font-size: 12vh;
  }
  #honors-night p {
    font-size: 10vh
  }
  #pro-team {
    position: relative;
    /*display: flex;
    justify-content: center;
    align-items: center;*/
  }
  #pro-bio-text-box img {
    /* the logo */
    width: 15%;
  }
  #pro-team article {
    height: auto;
    display: inline-block;
    vertical-align: top;
    padding: 0;
  }
  #pro-bio {
    height: 100% !important;
  }
  #pro-bio-text-box {
    width: 80%;
    margin: 0 auto;
    padding: 12px 0;
    text-align: center;
  }
  #pro-bio-text-box h1 {
    font-size: 60px;
  }
  #pro-bio-text-box p {
    font-size: 120%;
  }
  #pro-team article.pro-bio {
    width: 40%;
    margin-right: 2%;
  }
  #slideshow-container {
    /*flex-basis: 50%;*/
    padding-right: 2em;
  }
  #pro-team .slide {
    width: 70%;
    height: 90%;
    position: absolute;
    top: 2em;
    right: -5em;
    margin: auto;
    background-size: auto 100%;
  }
  #student-team h1 {
    font-size: 9vw;
    text-align: left;
  }
  #student-team-text {
    display: flex;
    min-height: 90vh;
    justify-content: flex-start;
    /*space-around;*/
  }
  #student-team-text-left {
    flex-basis: 50%;
    padding-left: 1vw;
  }
  #student-team-text-right {
    position: relative;
    flex-basis: 50%;
  }
  #student-team-bio {
    position: absolute;
    bottom: 5vh;
    right: 1vw;
    font-size: 120%;
    background-color: rgba(0, 0, 0, .5);
    border: 1px solid black;
    padding: 2em;
  }
  #student-screen {
    background-color: rgba(57, 53, 77, .4)
  }
}

.cursive {
  font-family: 'Dancing Script', cursive, Times;
}

#about-us {
  position: relative;
}

#honors-night p.headline {
  text-transform: uppercase;
  font-family: 'Lora', sans-serif;
}

#honors-night p {
  display: block;
  text-align: center;
  font-size: 6vh;
  color: white;
}

#pro-team {
  padding-bottom: 2em;
  color: white;
}

#pro-bio-text-box h1 {
  font-family: "Raleway", Georgia;
  font-weight: lighter;
  margin-top: .25em;
  margin-bottom: .5em
}

#pro-team p {
  font-family: 'M PLUS 1p', 'Montserrat', Georgia;
  margin-top: 1em;
}

#pro-team .slide {
  display: none;
  overflow: hidden;
  background-position: center top;
  background-repeat: no-repeat;
}

#pro-team .slide:first-child {
  display: block;
}

#student-team {
  color: white;
  position: relative;
}

#student-team h1 {
  font-family: "Montserrat", Verdana;
}

#student-team-bio a {
  color: inherit;
}

#student-team p {
  font-family: "Raleway", Verdana, sans-serif;
  line-height: 2em;
  margin-bottom: 1em;
}

#student-team-text {
  z-index: 2;
  position: relative;
}

#student-screen {
  position: absolute;
  top: 0;
  /*  height of a separator */
  width: 100%;
  height: 100%;
}