body {
  height: 450vh;
  /*  height: 190vh;*/
  overflow-x: hidden;
}

footer {
  margin-top: 0 !important
}

#content {}

#video-container, #video-screen {
  min-height: 98vh;
}

#about-us, #about-us-text, #overlay {
  height: 160vh;
  overflow: hidden;
}

#honors-night {
  height: 80vh;
  color: white;
}

#pro-team, #student-team {
  height: 95vh;
}