/* Hide the images by default */

.slide {
  display: none;
  overflow: hidden;
  width: 70%;
  height: 90%;
  position: absolute;
  top: 2em;
  right: -5em;
  margin: auto;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.slide:first-child {
  display: block;
}