#video-container {
  /*position: fixed;
  right: 0;
  top: 0;*/
  /*  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;*/
  overflow: hidden;
}

#video {
  position: fixed;
  /*right: 0;*/
  top: 0;
  min-width: 100%;
  min-height: 100%;
  /* this height doesnt really matter, what matters is the offset of #content*/
  z-index: -1;
}

#video-logo {
  position: relative;
  top: 50%;
  right: 50%;
  width: 60vh;
  z-index: 10;
}