#video-container {
  /*position: fixed;
  right: 0;
  top: 0;*/
  /*  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;*/
  overflow: hidden;
  color: white;
}

#video, #video-screen {
  position: fixed;
  /*right: 0;*/
  top: 0;
  right: -5vh;
  min-width: 110%;
  overflow: hidden;
  /* this height doesnt really matter, what matters is the offset of #content*/
}

#video {
  z-index: -1;
  min-height: 100%;
  display: none;
  /* hide at first */
}

#video-screen {
  background-color: black;
  opacity: .4;
  z-index: -1;
  height: 100vh;
}

#video-logo {
  /*position: relative;*/
  /* top + height should add to 98*/
  display: block;
  margin: 0 auto;
  text-align: center;
}

@media only screen and (max-width: 799px) {
  /* mobile */
  #video-logo {
    /*  height: calc(95vh - 20vh + 10vh); */
    height: auto;
    width: 100%;
    top: 15%;
  }
  #video-container {
    /*height: 100vh;*/
  }
  #enter {
    margin-top: 8em;
    margin-bottom: 4em;
  }
  #video-logo img {
    margin: 0 auto;
    margin-top: 20%;
    width: 95%;
    height: auto;
  }
  #video-logo p {
    font-size: 10vw;
  }
}

@media only screen and (min-width: 800px) {
  /* desktop */
  #video-logo *, #enter {
    display: none;
    /*hide the logo at first*/
  }
  #enter {
    margin-top: 30vh;
    margin-bottom: 4vh;
  }
  #video-logo {
    top: 18vh;
    max-width: 50vw;
  }
  #video-logo p {
    font-size: 4vw;
  }
  #video-logo img {
    height: 40vh;
    /*opacity: 50%;*/
    /* see the .fadeTo() to set this*/
  }
}

#enter {
  /*  position: absolute;
  bottom: 5%;*/
  width: 100%;
  text-align: center;
}

#enter a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-family: "Raleway", Arial;
  background-color: rgba(0, 0, 0, .6);
  padding: .5em 1em;
  font-size: 130%
}

#video-logo p {
  color: white;
}