* {
  margin: 0;
  padding: 0;
}

main {
  width: 85vw;
  margin: 0 auto;
  text-align: center;
  padding: 16px;
}

h1 {
  font-family: "Lora", sans-serif;
  font-size: 60px;
  margin-bottom: 1em;
  color: white
}

h3 {
  font-family: 'M PLUS 1p', sans-serif;
  font-size: 30px;
  margin-bottom: .5em
}

h4 {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: .5em
}

section {
  padding-top: 60px;
}

.event {
  padding: 42px 32px;
  border: 0px solid darkgray;
  background-color: rgb(240, 240, 240);
}

.event-contents {
  height: 500px;
}

.event .panel {
  display: inline-block;
  vertical-align: top;
  height: 100%;
}

.event-pic {
  width: 45%;
  margin-right: 2%
}

.event-pic img {
  max-width: 100%
}

.event-info {
  width: 50%;
  text-align: left;
}

.event-info .text-box {
  height: 60%;
  overflow-y: scroll;
  font-family: 'Montserrat', Arial, sans-serif;
  background-color: rgb(250, 250, 250);
  margin-bottom: 1em;
}

.event-info form {
  text-align: left;
}

.event-info .text-box p {
  margin: 1em .5em;
  padding: 8px;
}

.buttons {
  background-color: rgb(225, 225, 255);
  height: 20%;
}

.buttons .paypal, .buttons .facebook {
  display: inline-block;
  vertical-align: middle;
}

.paypal .icons {
  height: 60px
}

.buttons .facebook {
  margin-left: 3em;
  font-family: Arial, sans-serif;
}