* {
  margin: 0;
  padding: 0;
}

main {
  width: 80vw;
  margin: 0 auto;
  margin-bottom: 10em;
  text-align: center;
  padding: 16px;
  border: 1px black solid;
  /*background-color: rgb(240, 240, 240)*/
  background-color: rgba(19, 19, 32, 0.3);
  overflow: hidden;
}

body {
  /*  background-color: rgb(19, 19, 32);  */
  /*min-height: 150vh*/
  overflow-x: hidden;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 80px;
  margin: 0.5em 0;
  color: white;
  text-transform: uppercase;
}

h3 {
  font-family: 'M PLUS 1p', sans-serif;
  font-size: 30px;
  margin-bottom: .5em
}

h4 {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 32px;
  text-transform: uppercase;
}

h5 {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: .5em;
  text-transform: uppercase;
}

h6 {
  font-family: 'M PLUS 1p', sans-serif;
  font-size: 16px;
  margin-bottom: .5em
}

.buttons {
  display: none;
}

a.buy {
  text-decoration: none;
  /*background-color: rgba(223, 146, 226, .4);*/
  /*background-color: rgba(255, 191, 128, .4);*/
  /*background-color: rgba(255, 99, 71, .7);*/
  /*background-color: rgba(255, 191, 128, .4);*/
  background-color: rgba(0, 153, 255, .9);
  padding: .5em 0;
  color: rgb(250, 250, 250);
  display: block;
}

a.buy:hover {
  background-color: rgba(0, 153, 255, .8);
}

.spacer {
  height: 2px;
  background-color: rgb(200, 200, 200);
}

#events {
  background-color: none;
}

#overlay {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 1vh;
  z-index: -1;
}

section {
  padding-top: 60px;
}

.event {
  padding: 42px 32px;
  border-top: 1px solid black;
  background-color: rgb(250, 250, 250);
}

.event-contents {
  padding-top: 16px;
  padding-bottom: 8px;
}

.event .panel {
  display: inline-block;
  vertical-align: top;
  height: 100%;
}

.event-pic {
  width: 45%;
  margin-right: 2%
}

.event-pic img {
  max-width: 100%
}

.event-info {
  width: 50%;
  text-align: left;
}

.event-info .text-box {
  height: 100%;
  /*max-height: 800px;*/
  overflow-y: scroll;
  font-family: 'Montserrat', Arial, sans-serif;
  background-color: rgba(250, 250, 250, 0);
  margin-bottom: 1em;
  padding: 2em;
  padding-top: 0
}

.text-box .bold {
  font-weight: bold;
}

.text-box .accent {
  background-color: rgba(255, 125, 102, .5);
}

.uppercase {
  text-transform: uppercase;
}

.event-info form {
  text-align: left;
}

.event-info .text-box p {
  margin: 1em 0;
}

.buttons {
  padding: 16px;
  background-color: rgba(240, 240, 240, 0.4);
  height: 30%;
}

.buttons .form-container, .buttons .facebook {
  display: inline-block;
  vertical-align: middle;
}

.map {
  margin-top: 2em;
}

.form-container {
  width: 30%;
  padding: 16px 64px;
  background-color: rgba(225, 222, 237, .45);
  text-align: center;
}

.form-container table {
  margin: 0 auto;
  margin-bottom: 1em;
}

.paypal .icons {
  height: 60px
}

.buttons .facebook {
  margin-left: 3em;
  font-family: Arial, sans-serif;
}

.buttons .close {
  text-align: right;
  font-size: 120%;
}

.buttons .close a {
  text-decoration: none;
  padding: .25em;
  padding-bottom: .1em
}

.buttons .close a:hover {
  border: 1px solid gray
}

.facebook p {
  display: block;
}